@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Boogaloo&display=swap");
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.flexContainer__nav {
  margin-right: 30px;
  margin-left: 50px;
}

li {
  text-decoration: none;
  list-style: none;
  font-family: 'Boogaloo', cursive;
  font-size: 25px;
}

.navbar-light .navbar-nav .nav-item .active {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  color: #ebaeae;
}
.card-body{
  font-family: 'Boogaloo', cursive;
  font-size: 15px;
}
.card-body .off{
  color: red;
}

.card-text{
  text-align: center;
}
.tachado {
  text-decoration:line-through;
  line-height : 5px;
  font-family: 'Boogaloo', cursive;
  font-size: 15px;
  color: grey;
  margin-right: 15px;
}

.navbar-light .navbar-nav .nav-link {
  color: black;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.navbar-light .navbar-nav .nav-link:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  color: #ebaeae;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 0rem;
  padding-left: 0rem;
}

.nav-link {
  margin-right: 100px;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 10px;
}

.SabiasQue {
  margin-right: 230px;
  margin-left: 230px;
  margin-top: 20px;
  margin-bottom: 50px;
  font-family: 'Hammersmith One', sans-serif;
}

.button__whatsapp {
  position: fixed;
  bottom: 40px;
  right: 30px;
  background: transparent;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.button__whatsapp:hover {
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}

.footer {
  background: #eebcbc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: .1rem;
  text-align: center;
  font-family: 'Boogaloo', cursive;
  font-size: 15px;
  color: black;
  padding-bottom: 20px;
  text-transform: uppercase;
}

.footer img {
  margin-bottom: 30px;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.footer img:hover {
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
}

.footer p {
  margin-top: 20px;
}

#copyright {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 12px;
  color: #252222;
  text-transform: none;
}

.colecciones {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 400px;
  padding: 0px;
  grid-gap: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 50px;
}

.colecciones img {
  transition: all 300ms;
}

.colecciones img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

textarea {
  width: 500px;
  height: 100px;
  width: 500px;
  height: 100px;
  border-radius: 10px;
  margin-left: 50px;
}

.container__text {
  margin-right: 100px;
  margin-left: 50px;
  margin-top: 50px;
}

.back {
  text-align: left;
}

.formulario {
  margin-top: 50px;
  margin-left: 50px;
}

.formulario input {
  border-radius: 10px;
  width: 200px;
}

#suscripcion {
  margin-left: 50px;
}

::-webkit-input-placeholder {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 15px;
}

:-ms-input-placeholder {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 15px;
}

::-ms-input-placeholder {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 15px;
}

::placeholder {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 15px;
}

.buttons {
  margin-left: 50px;
  margin-bottom: 20px;
}

.maps {
  float: right;
  margin-right: 10px;
  margin-top: 50px;
  margin-bottom: 20px;
}

/* Phone */
@media only screen and (max-width: 767px) {
  .flexContainer {
    max-width: 767px;
    padding-right: 10px;
    display: inline-block;
    margin-bottom: 10px;
    padding-top: 10px;
  }
  .flexContainer__nav li {
    display: block;
    max-width: 80%;
    font-size: 15px;
    margin-left: 20px;
    padding-top: 10px;
    margin-top: 0px;
  }
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 10px;
  }
  .carousel-inner img {
    width: 100%;
    height: 100%;
  }
  .SabiasQue {
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 0px;
    font-family: 'Hammersmith One', sans-serif;
  }
  .footer {
    padding: 20px;
    color: black;
    padding-bottom: 10px;
  }
  .footer p {
    font-size: 15px;
  }
  .colecciones {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(1, 1fr);
    padding: 20px;
    grid-gap: 20px;
  }
  textarea {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    margin-left: 50px;
  }
  .maps {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: justify-content;
            flex-direction: justify-content;
    margin-right: 10px;
    margin-bottom: 20px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    height: 50%;
  }
  .header__icon {
    display: none;
  }
  .navbar-toggler {
    border: none;
  }
  #copyright {
    font-size: 10px;
  }
}

/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .flexContainer {
    padding-right: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .flexContainer__nav li {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    max-width: 50%;
    font-size: 17px;
  }
  textarea {
    width: 200px;
    height: 100px;
    border-radius: 10px;
    margin-left: 50px;
  }
  .colecciones {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    padding: 20px;
    grid-gap: 20px;
  }

  .carousel-inner img {
    width: 100%;
    height: 100%;
  }
  .nav-link {
    margin-right: 40px;
  }
  .SabiasQue {
    margin-right: 50px;
    margin-left: 50px;
  }
  .footer {
    margin-top: 50px;
  }
}
