@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Boogaloo&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@400;500;700&display=swap');


* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.flexContainer__nav {
  margin-right: 2rem;
  margin-left: 3rem;
}

li {
  text-decoration: none;
  list-style: none;
  font-family: 'Boogaloo', cursive;
  font-size: 1.6rem;
}

.navbar-light .navbar-nav {
  .nav-item .active {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    color: #ebaeae;
  }

  .nav-link {
    color: black;
    -webkit-transition: all 300ms;
    transition: all 300ms;

    &:hover {
      -webkit-transform: scale(1.05);
      transform: scale(1.05);
      color: #ebaeae;
    }
  }
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 0rem;
  padding-left: 0rem;
}

.nav-link {
  margin-right: 100px;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 1rem;
}

.SabiasQue {
  margin-right: 10rem;
  margin-left: 10rem;
  margin-top: 2rem;
  margin-bottom: 4rem;
  font-family: 'Hammersmith One', sans-serif;
p{
    font-family: 'Sarabun', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
  }
}

.button__whatsapp {
  position: fixed;
  bottom: 1.8rem;
  right: 3rem;
  background: transparent;
  -webkit-transition: all 300ms;
  transition: all 300ms;

  &:hover {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }
}

.footer {
  background: #eebcbc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  text-align: center;
  font-family: 'Boogaloo', cursive;
  font-size: 1rem;
  color: black;
  padding-bottom: 0.6rem;
  text-transform: uppercase;

  img {
    margin-bottom: 0.6rem;
    -webkit-transition: all 300ms;
    transition: all 300ms;

    &:hover {
      -webkit-transform: scale(1.08);
      transform: scale(1.08);
    }
  }

  p {
    margin-top: 0.6rem;
    margin-bottom: 0.3rem;
  }
}

#copyright {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 0.8rem;
  color: #252222;
  text-transform: none;
}

.colecciones {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr [3];
  grid-template-columns: repeat(3, 1fr);
  justify-content: center; 
  grid-auto-rows: 25rem;
  padding: 0px;
  grid-gap: 1.2rem;
  margin-bottom: 1.2rem;
  margin-left: 6.2rem;
  margin-right: 1.2rem;
  margin-top: 6.2rem;
  font-family: 'Boogaloo', cursive;
  font-size: 1rem;

  img {
    -webkit-transition: all 300ms;
    transition: all 300ms;

    &:hover {
      -webkit-transform: scale(1.05);
      transform: scale(1.05);
    }
  }
}

.card-body {
  padding-bottom: 0;
}

.card-text {
  text-align: center;
}

.tachado {
  -webkit-text-decoration: black double line-through;
  text-decoration: black double line-through;
  line-height: 0.6rem;
  font-family: 'Boogaloo', cursive;
  font-size: 1rem;
  color: #c70a0a;
  margin-right: 1rem;
}

.table {
  text-align: center;
}

.aclaraciones {
  text-align: center;
  font-family: 'Sarabun', sans-serif;
  font-weight: 500;
}

.titulo__tabla h5 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.5rem;
  text-align: center;
  margin-top: 3.1rem;
}

textarea {
  width: 31rem;
  height: 6.2rem;
  width: 31rem;
  height: 6.2rem;
  border-radius: 0.6rem;
}

.container__text {
  line-height: 2.5rem;
  margin-right: 13.9rem;
  margin-left: 3.1rem;
  margin-top: 3.1rem;
  font-family: 'Sarabun', sans-serif;
  font-weight: 500;

}

.back {
  text-align: left;
}

::-webkit-input-placeholder, :-ms-input-placeholder, ::-ms-input-placeholder, ::placeholder {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1rem;
  text-align: center;
}

.formulario {
  text-align: center;
  margin-top: 3,1rem;
  font-family: 'Sarabun', sans-serif;
  font-weight: 700;
  input {
    text-align: center;
    border-radius: 0.6rem;
    width: 12.5rem;
  }
}
.btn{
  width: 20rem;
}
.suscripcion, .formulario__textarea, .buttons {
  text-align: center;
  font-family: 'Sarabun', sans-serif;
  font-weight: 700;
}

.maps {
  text-align: center;
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
}

/* Phone */
@media only screen and (max-width: 767px) {
  .flexContainer {
    max-width: 767px;
    padding-right: 0.6rem;
    display: inline-block;
    margin-bottom: 0.6rem;
    padding-top: 0.6rem;
  }

  .flexContainer__nav li {
    display: block;
    max-width: 80%;
    font-size: 1rem;
    margin-left: 1.2rem;
    padding-top: 0.6rem;
    margin-top: 0;
  }

  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 0.6rem;
  }

  .carousel-inner img {
    width: 100%;
    height: 100%;
    margin-right: 1rem;
  }

  .footer {
    padding: 1.2rem;
    color: black;
    padding-bottom: 0.6rem;

    p {
      font-size: 1rem;
    }
  }

  .SabiasQue{
    margin-right: 1rem;
    line-height: 1.5rem;
    font-size: 1rem;
  font-weight: 400;
  margin-left: 1rem;
}

  .colecciones {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr [2];
    grid-template-columns: repeat(1, 1fr);
    justify-content: center; 
    padding: 1.2rem;
    grid-gap: 1.2rem;
    margin:auto;
    margin-left: 1.2rem;
  }

  .formulario {
    margin-top: 3.1rem; 
  }

  textarea {
    width: 15.6rem;
    height: 9.3rem;
    border-radius: 0.6rem;
  }
  .container__text {
    margin-right: 0.5rem;
    padding-right: 20px;
    line-height: 1rem;}

  .maps iframe {
    width: 90%;
    height: 90%;
  }

  .header__icon {
    display: none;
  }

  .navbar-toggler {
    border: none;
  }

  #copyright {
    font-size: 0.6rem;
  }
}
.button__whatsapp {
  margin-left: 2rem;}

/* Tablet */
@media only screen and (min-width: 740px) and (max-width: 1024px) {
  .flexContainer {
    padding-right: 1.1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .flexContainer__nav li {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    max-width: 50%;
    font-size: 1.1rem;
  }

  #navbarNav{
    margin-left: 0.2rem;
    margin-right: 0.2rem;
  }
  .colecciones {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr [2];
    grid-template-columns: repeat(2, 1fr);
    padding: 1.2rem;
    grid-gap: 1.2rem;
    margin-left: 3rem;
    margin-right: 3rem;
  }

  .formulario {
    margin-top: 3.1rem;
  }

  textarea {
    width: 25rem;
    height: 6.2rem;
    border-radius: 0.6rem;
  }

  .carousel-inner img {
    width: 100%;
    height: 100%;
  }

  .nav-link {
    margin-right: 2.5rem;
  }

  .SabiasQue{
    margin-right: 1rem;
    margin-left: 1rem;
    margin-top: 1.2rem;
    margin-bottom: 1.5rem;
    p{
    font-family: 'Sarabun', sans-serif;
  }
  }

  .footer {
    margin-top: 4rem;
  }
}

/*# sourceMappingURL=estilos.css.map */